.sectionMain {
    width: 100%;
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
    height: 100vh;
    position: relative;
    margin-top: calc(0em - var(--web-header-main));

    flex: 0 0 auto;

    .video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        background-size: cover;
        background-position: center;
        opacity: .3;
        background-color: var(--layer-1);
        border-radius: .5em;

        animation: fadeInCenter 1.2s;
    }
    .content {
        position: absolute;
        padding: 0 2em 2em 2em;
        bottom: 0;

        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%);

        display: flex;
        flex-direction: column;
        gap: 2.75em;

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr auto;
            gap: 1em;
            justify-items: start;
            align-items: center;
            width: -webkit-max-content;

            .button {
                width: fill;
            }
        }

        .headerline {
            max-width: 77%;
        }
    }
}
/* Mobile */
@media (max-width: 480px) {
    .sectionMain {
        height: calc(100vh - env(safe-area-inset-bottom));
        height: -webkit-fill-available;

        .video {}
        .content {
            padding: 0 1em 1em 1em;
            gap: 1.75em;
            bottom: calc(env(safe-area-inset-bottom));

            .row {
                width: 100%;
                justify-content: space-between;

                .button {
                    width: fill;
                }
                a {
                    width: 100%;

                    .buttonPrimary,
                    .buttonSecondary {
                        width: 100%;
                    }
                }
            }

            .headerline {
                max-width: 100%;
                margin: 0;
            }
        }
    }
}