
/* Web */
.sectionLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 8em;

    position: relative;

    .videoCover {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
    .content {
        margin: 0 auto;
        padding: 4em 2em;

        display: flex;
        flex-direction: column;
        gap: 2em;

        max-width: 600px;

        .comboTextHeaderline {
            font-size: 2em;
        }
        .comboTextDescription {
            line-height: 140%;
        }
    }
    
    .sectionButton {
        margin: 0 auto;
        display: flex;
        gap: 1em;
    }

}

/* Mobile */
@media (max-width: 480px) {
    .sectionLabel {
        padding: 1em 0;

        margin-bottom: 2em;

    }
    .content {
        padding: 2em .5em;
    }
}