.sectionFooter {
    width: 100%;
    padding: 1em 2em;
    background: var(--layer-2);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .tonLogo {
        transition: var(--element-in);

        &:hover {
            opacity: .6;;
        }
        &:active {
            opacity: .8;;
        }
    }

    ul {
        li{
            display: flex;
            gap: .75em;

            a {
                color: var(--txt-tertiary-color);
                font-weight: 500;

                &:hover {
                    color: var(--txt-secondary-color);
                }
            }
            .active {
                color: var(--white);
            }
        }
    }
}

/* Mobile */
@media (max-width: 480px) {
    .sectionFooter {
        padding: 1em;
        justify-content: center;

        .tonLogo {}

        ul {
            display: none;
        }
    }
}