.sectionFooter {
    width: 100%;
    padding: 1em 2em;
    background: var(--layer-2);

    margin-top: 25vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        li{
            display: flex;
            gap: .75em;

            &:hover {
                color: var(--txt-secondary-color);
            }

            a {
                color: var(--txt-tertiary-color);
                font-weight: 500;
            }
            .active {
                color: var(--white);
            }
        }
    }
}