.nav{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    padding: 0 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--web-header-main);

    z-index: 1000 !important;

    .navMobile {
        display: none; // Web
    }
    .navigationView {
        display: none; // Web
    }

    .logoMain {
        cursor: pointer;
    }
    .socialLink {
        display: flex;
        align-items: center;
        gap: 1em;

        font-size: .8em;


        .dot {
            width: 1px;
            height: 1em;
            border-radius: 1em;
            background: var(--darkgray);
        }

        .socialLink_Media,
        .socialLink_Develop {
            display: flex;
            align-items: center;
            gap: 1em;

            a {
                font-weight: 500;
                color: var(--txt-secondary-color);

                &:hover {
                    color: var(--link-primary-color);
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: 480px) {
    .nav{
        padding: 0 1em;
        height: var(--web-header-main);

        a {
            .logoMain {
                position: absolute;
                top: 1em;
            }
        }

    .navigationView {
        display: block; // Mobile

        position: absolute;
    }
    .navigationMobileView {
        position: absolute;
        overflow: hidden;
        top: -10vh;
        left: 0;
        width: 100vw;
        height: 120vh;
        background: var(--layer-1);

        .tube {
            position: fixed;
            background-position: center right;
            object-position: center right;
            object-fit: cover;

            right: 0;
            bottom: 2em;

            width: 80px;
            height: 240px;
            transition: var(--element-in);
        }

        .tube1 {
            position: fixed;
            background-position: center left;
            object-position: center left;
            object-fit: cover;

            left: 0;
            top: 6em;

            width: 60px;
            height: 160px;
            transition: var(--element-in);
        }
    }

    .navMobile {
        display: block; // Mobile
        cursor: pointer;

        width: 40px;
        height: 40px;

        border-radius: 40px;
        color: var(--black);
        background: var(--white);

        z-index: 10000;
        transition: var(--element-in);

        &:hover {
            background: var(--lightgray);
        }

        &:active {
            transform: scale(.6);
        }
    }

    .socialLink {
        display: none;
    }
}
}