.nav{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--web-header-main);
    z-index: 1000 !important;
    border-bottom: 1px solid #131e0685;

    .buttonTo {
        text-align: left;
    }

    .navigationList {
        width: 100%;
        position: absolute;
        top: 10em;
        left: 1em;

        display: flex;
        flex-direction: column;
        gap: 1.75em;
    }

    .navMobile {
        display: none; // Web
    }
    .navigationView {
        display: none; // Web
    }

    .logoMain {
        cursor: pointer;
    }
    .socialLink {
        display: flex;
        align-items: center;
        gap: 1em;

        font-size: .8em;


        .dot {
            width: 1px;
            height: 1em;
            border-radius: 1em;
            background: var(--darkgray);
        }

        .socialLink_Media,
        .socialLink_Develop {
            display: flex;
            align-items: center;
            gap: 1em;

            a {
                font-weight: 500;
                color: var(--txt-secondary-color);

                &:hover {
                    color: var(--link-primary-color);
                }
            }
        }
    }
}

/* Mobile */
@media (max-width: 480px) {
    .nav{
        padding: 0 1em;
        height: var(--web-header-main);
        background: var(--bg-blur-background);
        -webkit-backdrop-filter: blur(10em);
        backdrop-filter: blur(10em);

        a {
            .logoMain {
                position: absolute;
                top: 1em;
                z-index: 10000;
            }
        }

    .navigationView {
        display: block; // Mobile

        position: absolute;
    }
    .navigationMobileView {
        position: absolute;
        overflow: hidden;
        top: -10vh;
        left: 0;
        width: 100vw;
        height: 120vh;
        background: var(--layer-1);

        .tube {
            position: fixed;
            background-position: center right;
            object-position: center right;
            object-fit: cover;

            right: 0;
            bottom: 2em;

            width: 80px;
            height: 240px;
            transition: var(--element-in);
        }
    }

    .navMobile {
        display: block; // Mobile
        cursor: pointer;
        width: auto;
        height: 24px;
        padding: 0 1em;
        border: 1px solid var(--accent);
        border-radius: 40px;
        color: var(--accent);
        background: none;

        z-index: 10000;
        transition: var(--element-in);

        &:hover {
            color: var(--black);
            background: var(--accent);
        }

        &:active {
            transform: scale(.9);
        }
    }

    .socialLink {
        display: none;
    }
}
}