.buttonSecondary {
    padding: 1.5em 2.5em;
    border-radius: 1.2em;
    border: 1px solid var(--accent);
    white-space: nowrap;
    background: none;

    .text {
        font-size: 1.6em;
        font-weight: 600;
    }

    &:hover {
        transform: scale(.95);
        color: var(--accent);
    }
}