.buttonSecondary {
    padding: 1.5em 2.5em;
    border-radius: 1.2em;
    
    border: 1px solid var(--accent);
    white-space: nowrap;
    background: none;

    transition: .3s;

    .text {
        font-size: 1.6em;
        font-weight: 600;
        color: var(--accent);
    }
    &:hover {
        color: var(--accent);
        background: var(--accent-disabled);
        border: 1px solid var(--accent);
    }
    &:active {
        color: var(--accent);
        background: var(--accent-dark);
        border: 1px solid var(--accent);
    }
    &:focus {
        color: var(--accent);
        background: var(--accent-disabled);
        border: 1px dashed var(--accent);
    }
}