h1 {
    font-size: 4em;
    line-height: var(--line-height-small);
    font-weight: 800;
}
h2 {
    font-size: 3em;
    line-height: var(--line-height-small);
    font-weight: 800;
}
h3 {
    font-size: 2.5em;
    line-height: var(--line-height-small);
    font-weight: 800;
}
h4 {
    font-size: 2em;
    line-height: var(--line-height-small);
    font-weight: 800;
}
h5 {
    font-size: 1.5em;
    line-height: var(--line-height-small);
    font-weight: 800;
}
h6 {
    font-size: 1.2em;
    line-height: var(--line-height-small);
    font-weight: 800;
}
.headerline1 {
    font-size: 4em;
    line-height: var(--line-height-small);
    font-weight: 800;
}
.headerline2 {
    font-size: 3em;
    line-height: var(--line-height-small);
    font-weight: 800;
}
.headerline3 {
    font-size: 2.5em;
    line-height: var(--line-height-small);
    font-weight: 800;
}
.headerline4 {
    font-size: 2em;
    line-height: var(--line-height-small);
    font-weight: 800;
}
.headerline5 {
    font-size: 1.5em;
    line-height: var(--line-height-small);
    font-weight: 800;
}
.headerline6 {
    font-size: 1.2em;
    line-height: var(--line-height-small);
    font-weight: 800;
}
.title {
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 1em !important;
}
.body {
    font-size: 1.2em;
    line-height: var(--line-height-large);
    margin-bottom: .5em;
}
.description {
    font-size: 1em;
    margin-bottom: .5em;
}
.caption {
    font-size: .8em;
    margin-bottom: .5em;
}
@media (max-width: 480px) {
    .headerline1 {
        font-size: 2em;
    }
    .headerline2 {
        font-size: 1.5em;
    }
    .headerline3 {
        font-size: 1em;
    }
    .headerline4 {
        font-size: 1.5em;
    }
    .headerline5 {
        font-size: 1.2em;
    }
    .headerline6 {
        font-size: 1em;
    }
    .title {
        font-size: 1em;
        margin-bottom: 1em !important;
    }
    .body {
        font-size: 1em;
        margin-bottom: .5em;
    }
    .description {
        font-size: .8em;
        margin-bottom: .5em;
    }
    .caption {
        font-size: .7em;
        margin-bottom: .5em;
    }
}