.sectionService {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 4em;
    grid-row-gap: 2em;
    padding: 4em;

    margin-bottom: 4em;
}

/* Mobile */
@media (max-width: 480px) {
    .sectionService {
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(6, 1fr); 
        grid-column-gap: 0;
        grid-row-gap: 1em;
        padding: 2em 1em;
    }
}