.sectionService {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 4em;
    grid-row-gap: 4em;
    
    padding: 8em 4em;
}