.sectionRoadmapMobile {

    margin-bottom: 2em;

    h5 {
        padding: 0 1em;
        margin-bottom: .5em;
    }
    .mobileRoadmapList {
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;

        .mobileRoadmapList_Card {
            padding: 1em .75em;
            border: 1px solid var(--border-secondary-border);
            border-radius: .5em;

            min-width: 80%;

            .description{
                font-weight: 600;
            }
            .caption{
                color: var(--txt-tertiary-color);
                margin-bottom: 6em;
            }
        }
    }
}