.sectionRoadmapMobile {

    margin-bottom: 2em;

    h5 {
        padding: 0 .5em;
        margin-bottom: .5em;
    }
    .mobileRoadmapList {
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;

        .mobileRoadmapList_Card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1em .75em;
            background: var(--bg-primary-background);
            border: 1px solid var(--border-tertiary-border);
            border-radius: .75em;

            height: 33vh;
            max-height: 228px;

            .inWork {
                width: fit-content;
            }
            .inData {
                width: fit-content;
                font-size: .8em;
                color: var(--darkgray);

            }

            div {
                .description{
                    font-weight: 600;
                }
                .caption{
                    color: var(--txt-secondary-color);
                }
            }
        }
    }
}