.button {
    padding: 1.5em 2.5em;
    border-radius: 1.2em;
    white-space: nowrap;

    .text {
        font-size: 1.6em;
        font-weight: 500;
    }

    &:hover {
        transform: scale(.95);
    }
}