.sectionRoadmapWeb {
    padding: 2em;
    width: 100%;
    height: 100%;
    background: var(--layer-1);
    position: relative;

    .mobileRoadmapList {
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        .mobileRoadmapList_CardDone {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1em;
            background: var(--bg-tertiary-background);
            border-radius: .75em;

            height: 50vh;

            .inDone {
                width: fit-content;
                font-size: .8em;
                padding: .25em .5em;
                border-radius: .5em;
                color: var(--accent);
                border: 1px solid var(--accent);
            }

            div {
                .description{
                    font-weight: 600;
                }
                .caption{
                    color: var(--txt-secondary-color);
                }
            }
        }

        .mobileRoadmapList_Card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1em;
            background: var(--bg-blur-background);
            backdrop-filter: blur(.6em);
            border: 1px solid var(--border-quaternary-border);
            border-radius: .75em;

            width: 33vh;
            height: 50vh;

            .inWork {
                width: fit-content;
            }
            .inData {
                width: fit-content;
                font-size: .8em;
                color: var(--darkgray);

            }

            div {
                .description{
                    font-weight: 600;
                }
                .caption{
                    color: var(--txt-secondary-color);
                }
            }
        }
    }

    .stars {
        width: 100%;
        height: 100%;
        object-fit: cover;

        opacity: 0.3;
        transition: 3s;

        position: absolute;
        top: 0;
        left: 0;

        &:hover {
            opacity: .8;
        }

    }

    .content {
        position: absolute;
        top: 2em;
        left: 2em;
    }

}