.sectionRoadmapWeb {
    padding: 2em;
    width: 100%;
    height: 100%;
    background: var(--layer-1);
    position: relative;

    .stars {
        width: 100%;
        height: 100%;
        object-fit: cover;

        opacity: 0.3;
        transition: 3s;

        position: absolute;
        top: 0;
        left: 0;

        &:hover {
            opacity: .8;
        }

    }
    .content {
        position: absolute;
        top: 2em;
        left: 2em;
    }

}