.sectionRose {
    padding: 2em;

    margin-bottom: 8em;

    // background: var(--attention-background); // DEVELOP

    .headerline {
        margin: 1em 0;
        line-height: 130%;
        width: 75%;
        max-width: 800px;
    }
    .description {
        line-height: 160%;
        width: 75%;
        max-width: 800px;

        margin-bottom: 2em; // ⬇️ MARGIN BOTTOM
    }

    .roseMetro {
        overflow-x: hidden;
        width: 110vw;
        margin-left: -2em;

        padding: 4em 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 1em;

        .row {
            overflow-x: hidden;
            gap: 9%;

            .rose {
                width: 33vw;
                height: 33vw;

                max-width: 256px;
                max-height: 256px;

                min-width: 200px;
                min-height: 200px;

                border-radius: .5em;
            }
        }
    }
}

/* Mobile */
@media (max-width: 480px) {
    .sectionRose {
        padding: 2em 1em;

        .headerline {
            width: 100%;
            font-size: .9;
        }
        .description {
            width: 100%;
            color: var(--txt-secondary-color);
            line-height: 140%;
        }

        .roseMetro {
            margin-left: -1em;

            padding: 2em 0;
            gap: 1em;

            .row {
                gap: .5em;

                .rose {
                    max-width: 200px;
                    max-height: 256px;

                    min-width: 158px;
                    min-height: 158px;
                }
            }
        }
    }
}