.sectionRose {
    padding: 2em;

    // background: var(--attention-background); // Develop

    .headerline {
        margin: 1em 0;
        width: 75%;
        max-width: 1200px;
    }
    .description {
        width: 75%;
        max-width: 600px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .sectionRose {
        padding: 2em 1em;

        .headerline {
            width: 100%;
        }
        .description {
            width: 100%;
            color: var(--txt-secondary-color);
        }
    }
}