.sectionRose {
    padding: 4em 2em;

    // background: var(--attention-background); // Develop

    .headerline {
        margin: 1em 0;
        width: 75%;
    }
    .caption {
        width: 75%;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .sectionRose {
        padding: 4em 1em;

        .headerline {
            width: 100%;
        }
        .caption {
            width: 100%;
            color: var(--txt-secondary-color);
        }
    }
}