.sectionArtist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 12em;

    position: relative;

    .tube {
        position: absolute;
        background-position: center right;
        object-position: center right;
        object-fit: cover;

        right: 0;
        bottom: -8em;

        width: 80px;
        height: 240px;
    }

    .videoCover {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
    .content {
        margin: 0 auto;
        padding: 4em 2em;

        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .videoCover {
        height: 100vh !important;
    }
    .content {
        padding: 1em;
    }

}