/* Web */
.sectionRoadmap {
    height: 150vh;

    .sectionRoadmapMobile {
        display: none;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .sectionRoadmap {
        height: fit-content;
        
        .sectionRoadmapMobile {
            display: block;
        }
        .sectionRoadmapWeb {
            display: none;
        }
    }
}